* {
  margin: 0;
  padding: 0; }

.main {
  background-color: #f0e4e4; }
  .main__div {
    position: relative;
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px; }
  .main__div img {
    width: 100%;
    height: 100%; }
  .main__div--texto h1 {
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .main__div--texto h2 {
    bottom: 20%;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%); }
  .main__div h1 {
    color: #f1e4e4;
    padding-bottom: 80px;
    font-size: 45px;
    font-weight: bold; }
  .main .main__index__cards--section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .main .main__index__cards--section1--1,
  .main .main__index__cards--section1--2,
  .main .main__index__cards--section1--3 {
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    margin-top: 10px; }
  .main .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .main .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000; }
  .main .card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .main .card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center; }
  .main .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: black;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black; }
  .main .card .back .link a {
    color: #f3f3f3; }
  .main .card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px; }
  .main .card .back p {
    letter-spacing: 1px; }
  .main .card:hover .front {
    transform: perspective(600px) rotateY(180deg); }
  .main .card:hover .back {
    transform: perspective(600px) rotateY(360deg); }
  .main__p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    font-size: 25px;
    font-weight: bold; }
  .main h3 {
    font-size: 25px; }
  .main .button--index1,
  .main .button--index2,
  .main .button--index3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold; }

.main__tienda {
  background-color: #f0e4e4; }
  .main__tienda h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 45px;
    font-weight: bold; }
  .main__tienda h2 {
    text-align: center; }
  .main__tienda--titulosigno {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .main__tienda--titulosigno img {
    padding: 15px;
    margin-top: 20px;
    width: 70px;
    height: 70px; }
  .main__tienda__section--fila1 {
    display: flex; }

.main__galeria {
  background-color: #f0e4e4; }
  .main__galeria h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
    padding: 20px; }
  .main__galeria__section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 100px;
    padding: 20px;
    padding-top: 20px; }
  .main__galeria__section img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .main__galeria__section--foto1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4; }
  .main__galeria__section--foto6 {
    grid-column: 4 / 6;
    grid-row: 2 / 4; }
  .main__galeria__section--foto9 {
    grid-column: 3 / 5;
    grid-row: 4 / 6; }
  .main__galeria__section--foto12 {
    grid-row: 5 / 8; }
  .main__galeria__section--foto15 {
    grid-column: 2 / 4;
    grid-row: 6 / 8; }
  .main__galeria__section--foto16 {
    grid-column: 4 / 6;
    grid-row: 6 / 8; }

.main__blog {
  background-color: #f0e4e4; }
  .main__blog h1 {
    color: black;
    padding-top: 30px;
    text-align: center;
    font-size: 45px;
    font-weight: bold; }
  .main__blog__section1--article1, .main__blog__section1--article2, .main__blog__section1--article3 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #dacfcf;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .main__blog__section1--article1 h2,
  .main__blog__section1--article2 h2,
  .main__blog__section1--article3 h2 {
    text-align: center;
    padding-bottom: 20px;
    color: blueviolet;
    font-weight: bold; }
  .main__blog__section1--article1 p,
  .main__blog__section1--article2 p,
  .main__blog__section1--article3 p {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: black; }
  .main__blog__section1--article1 h2 {
    padding-top: 40px; }
  .main__blog__section1--article1 img {
    padding: 30px;
    margin-top: 30px;
    margin: auto; }
  .main__blog__section1--article2 img {
    padding: 30px;
    margin-top: 80px;
    margin: auto; }
  .main__blog__section1--article3 img {
    padding: 30px;
    margin-top: 30px;
    margin: auto; }
  .main__blog__section1--article2 h3 {
    padding: 10px;
    color: #92b6cc;
    font-size: 30px;
    font-weight: bold;
    margin-left: 100px; }
  .main__blog--h2 {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 35px; }
  .main__blog__section2--fila1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .main__blog__section2--fila1--article1 iframe,
  .main__blog__section2--fila1--article2 iframe,
  .main__blog__section2--fila1--article3 iframe,
  .main__blog__section2--fila1--article4 iframe {
    padding: 10px;
    width: 300px; }

.main__contacto {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/contactoimagen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  .main__contacto_div {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .main__contacto h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
    font-weight: bold; }
  .main__contacto__section {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .main__contacto__section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px; }
  .main__contacto__section--ubicacion {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 50px;
    justify-content: center;
    align-items: center; }
  .main__contacto__section--ubicacion--div {
    display: flex;
    justify-content: center; }
  .main__contacto__section--ubicacion--div p {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px; }
  .main__contacto__section--ubicacion--div img {
    margin-bottom: 30px;
    width: 50px;
    height: 50px; }
  .main__contacto .form-label {
    color: white; }
  .main__contacto .form-control {
    background-color: #e4d7d7; }

footer {
  display: flex;
  justify-content: space-around;
  background-color: #313030; }

.footer__redes {
  padding: 25px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly; }

.footer__redes img {
  padding: 7px;
  width: 45px;
  height: 45px; }

.footer__formulario {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
  padding-left: 40px; }

.footer__formulario--h3 {
  color: #eeeaea; }

.footer__formulario--input label {
  color: white;
  padding-left: 130px;
  padding-top: 20px; }

.footer__formulario--input--email {
  background-color: #eeeaea;
  border: none;
  background: none;
  border-bottom: 1px solid white;
  outline: none; }

.footer__enlaces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20vw;
  padding-top: 10px; }

.footer__enlaces li {
  list-style: circle;
  display: inline;
  padding: 2px;
  justify-content: flex-end; }

.footer__enlaces li a {
  text-decoration: none;
  color: white; }

.footer__copyright {
  color: white;
  padding-top: 70px;
  display: block;
  padding-left: 100px; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px; }
  .main__div h1 {
    font-size: 30px;
    top: 30%; }
  .main__div h2 {
    font-size: 15px;
    bottom: 5%; }
  .card__main--article4 h3 {
    text-align: center; }
  .card__main--article5 h3 {
    text-align: center; }
  .card__main--article6 h3 {
    text-align: center; }
  .button--index1,
  .button--index2,
  .button--index3 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__tienda {
    height: auto; }
  .main__tienda h1 {
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 0px; }
  .cards__tienda--fila1--1--button,
  .cards__tienda--fila1--2--button,
  .cards__tienda--fila1--3--button,
  .cards__tienda--fila1--4--button,
  .cards__tienda--fila2--5--button,
  .cards__tienda--fila2--6--button,
  .cards__tienda--fila2--7--button,
  .cards__tienda--fila2--8--button {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__blog {
    height: auto; }
  .main__blog h1 {
    font-size: 40px; }
  .main__galeria {
    height: auto; }
  .main__galeria h1 {
    font-size: 40px;
    padding-top: 20px; }
  .main__galeria__section {
    margin-left: 10px;
    margin-right: 10px; }
  .main__galeria__section--foto1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5; }
  .main__galeria__section--foto2 {
    grid-column: 2 / 4;
    grid-row: 1 / 3; }
  .main__galeria__section--foto3 {
    grid-column: 2 / 4;
    grid-row: 3 / 5; }
  .main__galeria__section--foto4 {
    grid-column: 1 / 2;
    grid-row: 5 / 7; }
  .main__galeria__section--foto5 {
    grid-column: 1 / 2;
    grid-row: 7 / 9; }
  .main__galeria__section--foto6 {
    grid-column: 2 / 4;
    grid-row: 5 / 9; }
  .main__galeria__section--foto7 {
    grid-column: 1 / 2;
    grid-row: 9 / 13; }
  .main__galeria__section--foto8 {
    grid-column: 2 / 4;
    grid-row: 9 / 11; }
  .main__galeria__section--foto9 {
    grid-column: 2 / 4;
    grid-row: 11 / 13; }
  .main__galeria__section--foto10 {
    grid-column: 1 / 2;
    grid-row: 13 / 15; }
  .main__galeria__section--foto11 {
    grid-column: 1 / 2;
    grid-row: 15 / 17; }
  .main__galeria__section--foto12 {
    grid-column: 2 / 4;
    grid-row: 13 / 17; }
  .main__galeria__section--foto13 {
    grid-column: 1 / 2;
    grid-row: 17 / 21; }
  .main__galeria__section--foto14 {
    grid-column: 2 / 4;
    grid-row: 17 / 19; }
  .main__galeria__section--foto15 {
    grid-column: 2 / 4;
    grid-row: 19 / 21; }
  .main__galeria__section--foto16 {
    grid-column: 1 / 4;
    grid-row: 21 / 24; }
  .main__contacto h1 {
    font-size: 30px; }
  .main__contacto__section img {
    width: 90px;
    height: 90px; }
  .main__contacto__section--ubicacion--div img {
    width: 40px;
    height: 40px; }
  .footer__enlaces {
    display: none; } }

@media screen and (max-width: 480px) {
  .main__blog h1 {
    font-size: 30px; }
  .main__div h1 {
    font-size: 15px;
    top: 35%; }
  .main__div h2 {
    font-size: 10px;
    bottom: 3%; }
  .card__main--article4 h3 {
    text-align: center; }
  .card__main--article5 h3 {
    text-align: center; }
  .card__main--article6 h3 {
    text-align: center; }
  .main__tienda {
    height: auto; }
  .main__tienda h1 {
    font-size: 30px; }
  .main__tienda h1 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .cards__tienda--fila1--1--button,
  .cards__tienda--fila1--2--button,
  .cards__tienda--fila1--3--button,
  .cards__tienda--fila1--4--button,
  .cards__tienda--fila2--5--button,
  .cards__tienda--fila2--6--button,
  .cards__tienda--fila2--7--button,
  .cards__tienda--fila2--8--button {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__blog {
    height: auto; }
  .main__blog h1 {
    font-size: 30px; }
  .main__blog--h2 {
    padding: 10px; }
  .main__blog__section2 iframe {
    padding: 20px; }
  .main__contacto_div {
    flex-direction: column;
    height: auto; }
  .main__contacto h1 {
    font-size: 20px; }
  .main__contacto__section img {
    width: 70px;
    height: 70px; }
  .main__contacto__section--ubicacion--div img {
    width: 35px;
    height: 35px;
    margin-top: 20px; }
  .main__galeria {
    height: auto; }
  .main__galeria h1 {
    font-size: 30px; }
  .main__galeria__img img {
    margin-top: 50px; }
  .main__galeria__section {
    margin-left: 10px;
    margin-right: 10px; }
  .main__galeria__section--foto1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
  .main__galeria__section--foto2 {
    grid-column: 1 / 3;
    grid-row: 3 / 5; }
  .main__galeria__section--foto3 {
    grid-column: 1 / 3;
    grid-row: 5 / 7; }
  .main__galeria__section--foto4 {
    grid-column: 1 / 3;
    grid-row: 7 / 9; }
  .main__galeria__section--foto5 {
    grid-column: 1 / 3;
    grid-row: 9 / 11; }
  .main__galeria__section--foto6 {
    grid-column: 1 / 3;
    grid-row: 11 / 13; }
  .main__galeria__section--foto7 {
    grid-column: 1 / 3;
    grid-row: 13 / 15; }
  .main__galeria__section--foto8 {
    grid-column: 1 / 3;
    grid-row: 15 / 17; }
  .main__galeria__section--foto9 {
    grid-column: 1 / 3;
    grid-row: 17 / 19; }
  .main__galeria__section--foto10 {
    grid-column: 1 / 3;
    grid-row: 19 / 21; }
  .main__galeria__section--foto11 {
    grid-column: 1 / 3;
    grid-row: 21 / 23; }
  .main__galeria__section--foto12 {
    grid-column: 1 / 3;
    grid-row: 23 / 25; }
  .main__galeria__section--foto13 {
    grid-column: 1 / 3;
    grid-row: 25 / 27; }
  .main__galeria__section--foto14 {
    grid-column: 1 / 3;
    grid-row: 27 / 29; }
  .main__galeria__section--foto15 {
    grid-column: 1 / 3;
    grid-row: 29 / 31; }
  .main__galeria__section--foto16 {
    grid-column: 1 / 3;
    grid-row: 31 / 33; }
  .footer__enlaces {
    display: none; } }

@media screen and (min-width: 1585px) {
  .card__main--article4 {
    width: 470px;
    margin: 10px; }
  .card__main--article5 {
    width: 470px;
    margin: 10px; }
  .card__main--article6 {
    width: 470px;
    margin: 10px; }
  .main__galeria__section--foto1 {
    grid-column: 1 / 4;
    grid-row: 1 / 5; }
  .main__galeria__section--foto2 {
    grid-column: 4 / 6;
    grid-row: 1 / 3; }
  .main__galeria__section--foto3 {
    grid-column: 4 / 6;
    grid-row: 3 / 5; }
  .main__galeria__section--foto4 {
    grid-column: 6 / 8;
    grid-row: 1 / 5; }
  .main__galeria__section--foto5 {
    grid-column: 1 / 3;
    grid-row: 5 / 9; }
  .main__galeria__section--foto6 {
    grid-column: 3 / 5;
    grid-row: 5 / 7; }
  .main__galeria__section--foto7 {
    grid-column: 3 / 5;
    grid-row: 7 / 9; }
  .main__galeria__section--foto8 {
    grid-column: 5 / 8;
    grid-row: 5 / 9; }
  .main__galeria__section--foto9 {
    grid-column: 1 / 4;
    grid-row: 9 / 13; }
  .main__galeria__section--foto10 {
    grid-column: 4 / 6;
    grid-row: 9 / 11; }
  .main__galeria__section--foto11 {
    grid-column: 4 / 6;
    grid-row: 11 / 13; }
  .main__galeria__section--foto12 {
    grid-column: 6 / 8;
    grid-row: 9 / 13; }
  .main__galeria__section--foto13 {
    grid-column: 1 / 3;
    grid-row: 13 / 17; }
  .main__galeria__section--foto14 {
    grid-column: 3 / 5;
    grid-row: 13 / 15; }
  .main__galeria__section--foto15 {
    grid-column: 3 / 5;
    grid-row: 15 / 17; }
  .main__galeria__section--foto16 {
    grid-column: 5 / 8;
    grid-row: 13 / 17; } }

.carouselExampleIndicators {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-top: 20px; }

.carousel-indicators {
  padding-bottom: 10px; }

.card {
  background-color: #92b6cc; }
  .card__main--article4 {
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  .card__main--article5 {
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  .card__main--article6 {
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }

.cards__tienda--fila1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.cards__tienda--fila2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.cards__tienda--fila1--1, .cards__tienda--fila1--2, .cards__tienda--fila1--3, .cards__tienda--fila1--4, .cards__tienda--fila2--5, .cards__tienda--fila2--6, .cards__tienda--fila2--7, .cards__tienda--fila2--8 {
  margin: 20px;
  background-color: #f0e4e4;
  border-radius: 20px; }

.cards__tienda--fila1--1:hover {
  background-color: #e4dcdc;
  transition: 0.5s; }

.cards__tienda--fila1--2:hover {
  background-color: #e4dcdc;
  transition: 0.5s; }

.cards__tienda--fila1--3:hover {
  background-color: #e4dcdc;
  transition: 0.5s; }

.cards__tienda--fila1--4:hover {
  background-color: #e4dcdc;
  transition: 0.5s; }

.cards__tienda--fila2--5:hover {
  background-color: #e4dcdc;
  transition: 0.5s; }

.cards__tienda--fila2--6:hover {
  background-color: #e4dcdc;
  transition: 0.5s; }

.cards__tienda--fila2--7:hover {
  background-color: #e4dcdc;
  transition: 0.5s; }

.cards__tienda--fila2--8:hover {
  background-color: #e4dcdc;
  transition: 0.5s; }

.cards__tienda--fila1--1 h2 {
  font-size: 20px; }

.cards__tienda--fila1--2 h2 {
  font-size: 20px; }

.cards__tienda--fila1--3 h2 {
  font-size: 20px; }

.cards__tienda--fila1--4 h2 {
  font-size: 20px; }

.cards__tienda--fila2--5 h2 {
  font-size: 20px; }

.cards__tienda--fila2--6 h2 {
  font-size: 20px; }

.cards__tienda--fila2--7 h2 {
  font-size: 20px; }

.cards__tienda--fila2--8 h2 {
  font-size: 20px; }

.cards__tienda--fila1--1--button, .cards__tienda--fila1--2--button, .cards__tienda--fila1--3--button, .cards__tienda--fila1--4--button, .cards__tienda--fila2--5--button, .cards__tienda--fila2--6--button, .cards__tienda--fila2--7--button, .cards__tienda--fila2--8--button {
  font-weight: bold; }
