@media screen and (max-width: 768px) {
    
    .main__tienda {
        height: auto;
    }

    .main__blog {
        height: auto;
    
    }

 .main__galeria__section {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
 }

}

@media screen and (max-width:480px) {


    .main__tienda {
        height: auto;
    }

.main__blog {
    height: auto;
}

.main__blog--h2 {
    padding: 10px;
}

.main__contacto_div {
    flex-direction: column;
    height: auto;
}

.main__galeria__section {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    
}

}


