@mixin flex-2val ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin flex-3val ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin parallax ($repeat, $position, $attachment, $size) {
    background-repeat: $repeat;
    background-position: $position;
    background-attachment: $attachment;
    background-size: $size;
}

