$color-header-objetos: rgb(146, 182, 204);
$color-fondos-pages: rgb(240, 228, 228);
$color-gradient-parallax: rgba(0, 0, 0, 0.5);
$footer: rgb(49, 48, 48);
$color-fuente-blog: black;
$color-h2-blog: blueviolet;
$color-h3-blog: rgb(146, 182, 204);

$fuente-blog:25px;
$fuente-h1: 45px;
$fuente-h2: 35px;
$fuente-h3: 30px;

