$color-header-objetos: rgb(146, 182, 204);
$color-fondos-pages: rgb(240, 228, 228);
$color-button-tienda: blueviolet;
$color-gradient-parallax: rgba(0, 0, 0, 0.5);

$fuente-blog:25px;
$fuente-h1: 45px;
$fuente-h2: 35px;
$fuente-h3: 30px;