.card {
    background-color: $color-header-objetos;

    &__main--article4 {
        margin-bottom: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__main--article5 {
        margin-bottom: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__main--article6 {
        margin-bottom: 20px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
}

}

.cards__tienda {

    &--fila1 {
        @include flex-3val (row, space-around, center);
        flex-wrap: wrap;
        
    }

    &--fila2 {
        @include flex-3val (row, space-around, center);
        flex-wrap: wrap;
        
    }

    &--fila1--1,
    &--fila1--2,
    &--fila1--3,
    &--fila1--4,
    &--fila2--5,
    &--fila2--6,
    &--fila2--7,
    &--fila2--8 {
        margin: 20px;
        background-color: $color-fondos-pages;
        border-radius: 20px ;
}

    &--fila1--1:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }

    &--fila1--2:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila1--3:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila1--4:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila2--5:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila2--6:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila2--7:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila2--8:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }

    &--fila1--1 h2 {
        font-size: 20px;
    }

    &--fila1--2 h2 {
        font-size: 20px;
    }

    &--fila1--3 h2 {
        font-size: 20px;
    }

    &--fila1--4 h2 {
        font-size: 20px;
    }

    &--fila2--5 h2 {
        font-size: 20px;
    }

    &--fila2--6 h2 {
        font-size: 20px;
    }

    &--fila2--7 h2 {
        font-size: 20px;
    }

    &--fila2--8 h2 {
        font-size: 20px;
    }

    &--fila1--1--button,
    &--fila1--2--button,
    &--fila1--3--button,
    &--fila1--4--button,
    &--fila2--5--button,
    &--fila2--6--button,
    &--fila2--7--button,
    &--fila2--8--button {
        font-weight: bold;
    }

}