.main__blog {
 background-color: $color-fondos-pages;
 
    
    h1 {
        color: $color-fuente-blog;
        padding-top: 30px;
        text-align: center;
        font-size: $fuente-h1;
        font-weight: bold;
    }

    &__section1--article1,
    &__section1--article2,
    &__section1--article3 {
        padding-top: 20px;
        padding-bottom: 20px;
        color: rgb(218, 207, 207);
        font-size: $fuente-blog;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    &__section1--article1 h2,
    &__section1--article2 h2,
    &__section1--article3 h2 {
        text-align: center;
        padding-bottom: 20px;
        color: $color-fuente-blog;
    }

    &__section1--article1 p,
    &__section1--article2 p,
    &__section1--article3 p {
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        color: $color-fuente-blog;

    }

    &__section1--article1 h2 {
        padding-top: 40px;
    }

    &__section1--article1 img {
        padding: 30px;
        margin-top: 30px;
       margin: auto;
    }

    &__section1--article2 img {
        padding: 30px;
        margin-top: 80px;
        margin: auto;
    }

    &__section1--article3 img {
        padding: 30px;
        margin-top: 30px;
        margin: auto;
    }

    &__section1--article2 h3 {
        padding: 10px;
        color: white;
        font-size: $fuente-h3;
        margin-left: 100px;
    }

    &--h2 {
        text-align: center;
        color: white;
        padding-bottom: 40px;
        padding-top: 30px;
        font-size: $fuente-h2
    }

    &__section2--fila1 {
        display: flex;
        flex-wrap: wrap;
    }

    &__section2--fila2 {
        display: flex;
        flex-wrap: wrap;
    }

    &__section2--fila1--article1,
    &__section2--fila1--article2,
    &__section2--fila2--article3,
    &__section2--fila2--article4 {
    }

    &__section2--fila1--article1 iframe,
    &__section2--fila1--article2 iframe,
    &__section2--fila2--article3 iframe,
    &__section2--fila2--article4 iframe {
        padding: 20px;
    }

    &__section2--fila1--article1 {
        padding-right: 20px;
        padding-left: 80px;
    }

    &__section2--fila1--article2 {
        padding-right: 40px;
    }

    &__section2--fila2--article3 {
        padding-right: 20px;
        padding-left: 80px;
    }

    &__section2--fila2--article4 {
        padding-right: 40px;
    }

}