.main__contacto {
    background-image: linear-gradient(0deg,
            $color-gradient-parallax,
            $color-gradient-parallax),
        url("../multimedia/contactoimagen.jpg");
    @include parallax (no-repeat, center, fixed, cover);

    &_div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-weight: bold;
        color: white;
        text-align: center;
        padding-top: 30px;
        font-size: $fuente-h1;
        font-weight: bold;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__section img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100px;
        height: 100px;
    }

    &__section--ubicacion {

        display: flex;
        flex-direction: column;
        margin: 30px;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    &__section--ubicacion--div {
        display: flex;
        justify-content: center;
    }

    &__section--ubicacion--div p {
        color: white;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 10px;
    }

    &__section--ubicacion--div img {
        margin-bottom: 30px;
        width: 50px;
        height: 50px;
    }

    .form-label {
        color: white;
    }

    .form-control {
        background-color: rgb(228, 215, 215);
    }
}