.main {
    background-color: $color-fondos-pages;
    width: 100%;

    &__div {
        background-image: linear-gradient(0deg,
                $color-gradient-parallax,
                $color-gradient-parallax),
            url("../multimedia/banner-blog.jpg");
            
            @include parallax (no-repeat, center, fixed, cover);
        display: flex;
        flex-direction: column;
        height: 92vh;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    &__div p {
        font-size: 30px;
        font-weight: bold;
        color: white;
    }

    &__div button {
        color: white;
        background-color: $color-button;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 25px;
        padding: 10px;
        font-weight: bold;
        box-shadow: 2px, 2px, white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    &__div button:hover {
        background-color: rgb(120, 38, 197);
        transition: 0.5s;
        cursor: pointer;
    }

    &__div h1 {
        color: rgb(241, 228, 228);
        padding-bottom: 80px;
        font-size: $fuente-h1;
        font-weight: bold;
    }

    &__p {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
        font-size: 25px;
        font-weight: bold;
        animation-name: efecto-main__p;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
    }

}


@keyframes efecto-main__p {
    0% {
        padding-right: 0px;

    }

    25% {
        padding-right: 50px;

    }

    50% {
        padding-left: 25px;
    }

    75% {
        padding-left: 50px;
    }

    100% {
        padding-left: 25px;
    }
}


.card {
    background-color: $color-header-objetos;
}



.button--index1, .button--index2, .button--index3 {
margin-top: 10px;
margin-bottom: 10px;
}

.button--galeria {
    margin-top: 30px;
    margin-left: 550px;
    margin-right: 550px;
}

#carouselExampleIndicators {
    padding: 70px;
}

.carousel-indicators {
    padding-bottom: 10px;
}
