.main__tienda {
    background-color: $color-fondos-pages;
    height: 195vh;

    h1 {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: $fuente-h1;
        font-weight: bold;
    }

    h2 {
        text-align: center;
    }

    &--titulosigno {
        display: flex;
        justify-content: center;
    }

    &--titulosigno img {
        padding: 15px;
        margin-top: 15px;
    }

    &__section--fila1 {
        display: flex;
    }
}


.cards__tienda {

    &--fila1 {
        @include flex-3val (row, space-around, center);

    }

    &--fila2 {
        @include flex-3val (row, space-around, center);

    }

    &--fila1--1,
    &--fila1--2,
    &--fila1--3,
    &--fila1--4,
    &--fila2--5,
    &--fila2--6,
    &--fila2--7,
    &--fila2--8 {
        margin: 20px;
        background-color: $color-fondos-pages;
    }

    &--fila1--1:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
}

    &--fila1--2:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila1--3:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila1--4:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila2--5:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila2--6:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila2--7:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }


    &--fila2--8:hover {
        background-color: rgb(228, 220, 220);
        transition: 0.5s;
    }

    &--fila1--1--button,
    &--fila1--2--button,
    &--fila1--3--button,
    &--fila1--4--button,
    &--fila2--5--button,
    &--fila2--6--button,
    &--fila2--7--button,
    &--fila2--8--button {
        @include button-index-tienda ($color-button, white, bold)
    }

    &--fila1--1--button:hover {
        background-color: rgb(120, 38, 197);
        transition: 0.5s;
}

&--fila1--2--button:hover {
    background-color: rgb(120, 38, 197);
    transition: 0.5s;
}

&--fila1--3--button:hover {
    background-color: rgb(120, 38, 197);
    transition: 0.5s;
}

&--fila1--4--button:hover {
    background-color: rgb(120, 38, 197);
    transition: 0.5s;
}

&--fila2--5--button:hover {
    background-color: rgb(120, 38, 197);
    transition: 0.5s;
}

&--fila2--6--button:hover {
    background-color: rgb(120, 38, 197);
    transition: 0.5s;
}

&--fila2--7--button:hover {
    background-color: rgb(120, 38, 197);
    transition: 0.5s;
}

&--fila2--8--button:hover {
    background-color: rgb(120, 38, 197);
    transition: 0.5s;
}

}