.main__tienda {
    background-color: $color-fondos-pages;

    h1 {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: $fuente-h1;
        font-weight: bold;
    }

    h2 {
        text-align: center;
    }

    &--titulosigno {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &--titulosigno img {
        padding: 15px;
        margin-top: 15px;
    }

    &__section--fila1 {
        display: flex;
    }
}
